:root {
    --key-color: hsl(42, 100%, 50%);
    --key-color-15percent: hsla(42, 100%, 50%, 0.15);
    --main-color: hsl(0, 0%, 0%);
    --secondary-color: hsl(100, 100%, 100%);
    --tertiary-color: hsl(234, 100%, 6%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important; */
}

h1 {
    display: inline-block;
    font-size: 6rem;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    color:var(--secondary-color);
}

h2 {
    font-family: 'Cardo', serif;
}

a {
    font-size: 1.2rem;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    cursor: pointer;
    color: var(--secondary-color);
}

a:hover {
    color: var(--key-color);
}

h3, p {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h4 {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.text-highlight {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.icon-small {
    height: 2rem;
}

/* Nav section */

nav {
    position: fixed;
    height: 4rem;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    flex-direction: row;
    height: 4rem;
    gap: 2rem;
    list-style: none; 
    margin-right: 3%;
    text-transform: lowercase;
    justify-content: flex-end;
    align-items: center;
}

/* Home section */

.home-img {
    position: absolute;
    top: 0;
    height: 85%;
    width: 100%;
    z-index: -1; /* TO CHANGE */
    overflow: hidden;
}

.home-img > img {
    /* opacity: 0.5; */
    transform: translateY(-30%);
    max-width: 100%;
}

.logo-large {
    height: 5rem;
}

.title-box {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 80vh;
    /* background-color: rgba(50, 211, 157, 0.39); */
}

.index {
    z-index: 0;
}

.gradient-top {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 7rem;
    width: 100%;
    opacity: 0.3;
    background: linear-gradient(0deg, rgba(0,3,32,0) 0%, rgba(2,0,36,1) 100%);
}


/* Reminder notes: 
    >>Nav height needed Safari
    >>flex img items within need position Safari 
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 700;
    font-style: normal;
*/